.circle {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  /* padding-top: 2px; */
  /* vertical-align: bottom; */
  line-height: 1.3em;
  text-align: center;
  border: 2px solid rgb(194, 193, 193);
  border-radius: 100%;
}
